@import '../../variables';

.error-boundary {
  text-align: center;
  padding: $spacing * 2;

  &__title {
    color: $primary-color;
    font-size: 2rem;
  }

  &__message {
    color: lighten($text-color, 20%);
  }

  &__details {
    margin-top: 1rem;
    white-space: pre-wrap;
  }
}