@import '../../variables';

.layout {
  max-width: 1200px;
  margin: 0 auto;
  padding: $spacing * 2;

  @media (min-width: $breakpoint-md) {
    padding: $spacing * 4;
  }

  &__header {
    padding: $spacing * 2;
    background-color: lighten($base-color, 4%);
    margin-bottom: $spacing * 2;
    border-radius: $roundness * 1.5;
  }

  &__main {
    padding: $spacing * 2;
    background-color: lighten($base-color, 4%);
    border-radius: $roundness * 1.5;
  }
}