$base-color: #111111;
$text-color: #e0e0e0;
$primary-color: #db9334;
$font-family: 'Helvetica Neue', Arial, sans-serif;
$roundness: 0.2rem; // standard border-radius for different elements
$spacing: 0.5rem; // standard spacing around and between different element

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;